@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

@font-face {
    font-family: "mini-pixel";
    src: url(./fonts/mini-pixel-7.regular.woff2),
        url(./fonts/mini-pixel-7.regular.woff),
        url(./fonts/mini_pixel-7.ttf);
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mini-pixel', sans-serif;
}

:root {
    font-size: 10px;
    --bkg-clr: rgb(30, 30, 30);
    --main-txt-clr: #cac7ff;
    --square-clr: #006182;
    --square-hover-clr: #00465D;
    --ship-clr: #007d6b;
    --ship-hover-clr: #005B4E;
    --btn-bkg-clr: #4d4637;
    --btn-font-clr: #b99400;
}

body {
    background-color: var(--bkg-clr);
    position: relative;
}

#game {
    position: relative;
    height: 100vh;
}

button {
    font-size: 5.6rem;
    background-color: var(--btn-bkg-clr);
    color: var(--btn-font-clr);
    padding: 0.2rem 1.6rem;
    border-radius: 0.2rem;
    border-top: 0.4rem solid rgba(255, 255, 255, 0.3);
    border-right: 0.4rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.4rem solid rgba(0, 0, 0, 0.4);
    border-left: 0.4rem solid rgba(0, 0, 0, 0.5);
    transition: border 120ms, opacity 120ms;
}

button:active {
    border-top: 0.4rem solid rgba(0, 0, 0, 0.4);
    border-right: 0.4rem solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.4rem solid rgba(255, 255, 255, 0.3);
    border-left: 0.4rem solid rgba(255, 255, 255, 0.5);
}

/*Play button*/
.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    padding: 0.2rem 1.6rem;
}

.dissapear {
    opacity: 0;
}

/*Select Mode*/

.select-mode {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 2fr 2fr;
    gap: 4.6rem 3.6rem;
    transition: opacity 400ms;
}

.select-mode>h1 {
    justify-self: center;
    width: fit-content;
    grid-column: 1/3;
    color: #b99400;
    font-size: 8rem;
    font-weight: 400;
}

/*GameBoard*/

#game {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

/* Stage */

.container {
    justify-self: end;
}

div+.container {
    justify-self: start;
}

/* Ships Life Status */

.ships {
    margin-bottom: 1rem;
}

[class^="S"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1.2rem);
    gap: 0.4rem;
    margin-bottom: .6rem;
}

.container:last-child [class^="S"] {
    direction: rtl;
}

[class^="S"]>div {
    background-color: var(--ship-clr);
    height: 1.2rem;
}

.sunk>div {
    background-color: #8B0000;
}

/*Board*/

.board {
    display: grid;
    grid-template-columns: repeat(10, 3.2rem);
    grid-template-rows: repeat(10, 3.2rem);
    grid-auto-flow: column;
    gap: 0.4rem;
    width: fit-content;
}

.square {
    user-select: none;
    cursor: crosshair;
    background-color: var(--square-clr);
    transition: background 120ms;
    display: grid;
    place-items: center;
}

.square:hover {
    background-color: var(--square-hover-clr);
}

.container:not(.hide):not(.computer) .ship {
    background-color: var(--ship-clr);
}

.container:not(.hide):not(.computer) .ship:hover {
    background-color: var(--ship-hover-clr);
}

.human .ship {
    background-color: var(--ship-clr);
}

.human .ship:hover {
    background-color: var(--ship-hover-clr);
}

.shot {
    background-color: var(--ship-hover-clr) !important;
}

.square img {
    width: 100%;
}

.square div {
    width: 100%;
    height: 100%;
    scale: 0.5;
    background-color: var(--bkg-clr);
    border-radius: 50%;
    transition: border-radius 500ms,
        scale 500ms;
}

div.explode {
    scale: 1;
    border-radius: 0px;
}

/* Turn */

#turn {
    position: absolute;
    color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#turn > *{
    font-family: "Manrope";
}

#turn h1 {
font-size: 3.2rem;
}

#turn p{
    width: fit-content;
    margin: 0 auto;
    font-size: 1.8rem;
}

/* Endgame */

.game-over {
    position: absolute;
    width: 34rem;
    height: 20rem;
    background-color: var(--btn-bkg-clr);
    border: #927814 1rem ridge;
    top: -20rem;
    left: 50%;
    transition: top 800ms;
}

.game-over.descent {
    top: 50%;
    transform: translate(-50%, -50%);
}

.game-over h1 {
    font-family: "Doto";
    font-size: 3.8rem;
    font-weight: 400;
    color: #f9f871;
    width: fit-content;
    padding-left: 1rem;
    margin: 2.2rem auto 2rem;
    text-shadow:
        .1rem .1rem #927814,
        -.1rem -.1rem #927814,
        -.1rem .1rem #927814,
        .1rem -.1rem #927814,
        .1rem .1rem .6rem #927814,
        -.1rem -.1rem .6rem #927814,
        -.1rem .1rem .6rem #927814,
        .1rem -.1rem .6rem #927814;
}

.game-over button {
    margin: 0 auto;
    display: block;
    text-shadow: .1rem .1rem black,
        -.1rem -.1rem black,
        -.1rem .1rem black,
        .1rem -.1rem black;
}