@font-face {
    font-family: "mini-pixel";
    src: url(./fonts/mini-pixel-7.regular.woff2),
        url(./fonts/mini-pixel-7.regular.woff),
        url(./fonts/mini_pixel-7.ttf);
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mini-pixel', sans-serif;
}

:root {
    font-size: 10px;
    --bkg-clr: rgb(30, 30, 30);
    --main-txt-clr: #cac7ff;
}

body {
    background-color: var(--bkg-clr);
}

#game {
    position: relative;
    height: 100vh;
}

button {
    font-size: 5.6rem;
    background-color: #4d4637;
    color: #b99400;
    padding: 0.2rem 1.6rem;
    border-radius: 0.2rem;
    border-top: 0.4rem solid rgba(255, 255, 255, 0.3);
    border-right: 0.4rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.4rem solid rgba(0, 0, 0, 0.4);
    border-left: 0.4rem solid rgba(0, 0, 0, 0.5);
    transition: border 120ms, opacity 120ms;
}

button:active {
    border-top: 0.4rem solid rgba(0, 0, 0, 0.4);
    border-right: 0.4rem solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.4rem solid rgba(255, 255, 255, 0.3);
    border-left: 0.4rem solid rgba(255, 255, 255, 0.5);
}

/*Play button*/
.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    background-color: #4d4637;
    color: #b99400;
    padding: 0.2rem 1.6rem;
}

.dissapear {
    opacity: 0;
}

/*Select Mode*/

.select-mode {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 2fr 2fr;
    gap: 4.6rem 3.6rem;
}

.select-mode > h1 {
    justify-self: center;
    width: fit-content;
    grid-column: 1/3;
    color: #b99400;
    font-size: 8rem;
    font-weight: 400;
}

/*GameBoard*/

#game {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

/* Stage */

.container {
    justify-self: end;
}

div+.container {
    justify-self: start;
}

/* Ships Life Status */

.ships{
    margin-bottom: 1rem;
}

[class^="S"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1.2rem);
    gap: 0.4rem;
    margin-bottom: .6rem;
}

.container:last-child
[class^="S"] {
    direction: rtl;
}

[class^="S"]>div {
    background-color: #007d6b;
    height: 1.2rem;
}

/*Board*/

.board {
    display: grid;
    grid-template-columns: repeat(10, 3.2rem);
    grid-template-rows: repeat(10, 3.2rem);
    grid-auto-flow: column;
    gap: 0.4rem;
    width: fit-content;
}

.square {
    background-color: #006182;
    transition: background 120ms;
}

.square:hover {
    background-color: #00465D;
}

.container:not(.hide) .ship {
    background-color: #007d6b;
}

.container:not(.hide) .ship:hover {
    background-color: #005B4E;
}

.square 
img {
    width: 100%;
}